@{
    ViewData["Title"] = "Checkers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Checkers</h1>
    <p>A game made by Simon Schick and Tyler Fields</p>
</div>

<br />

<div class="text-center">
    <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Game">Browse Games</a>
    <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="User">Browse Users</a>
</div>