@{
    ViewData["Title"] = "Checkers Game";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Checkers</h1>
</div>
<hr />
<div id="checkerboard">
    @for (int i = 0; i < 8; i++)
    {
        <div class="row">
            @for (int j = 0; j < 8; j++)
            {
                <div class="cell">
                    @if ((i < 3 && (i + j) % 2 == 0))
                    {
                        <div class="piece player1"></div>
                    }
                    else if (i > 4 && (i + j) % 2 == 0)
                    {
                        <div class="piece player2"></div>
                    }
                </div>
            }
        </div>
    }
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>